<nav id="navbar" class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background: #f08484">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/4193/4193239.png" width="50" height="50" >
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Đăng xuất</a>
        </li>
    </ul>
</nav>
<link rel="stylesheet" href="/css/navbar.css">