<nav id="navbar" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/4193/4193239.png" width="70" height="70" >
    </a>
    <input id="search" class="form-control form-control-dark w-100" type="text" placeholder="{{{text}}}"
        aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/auth/signout">Đăng xuất</a>
        </li>s
    </ul>
</nav>
<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js"></script>
