body {
    background-color: #DBD6D6;
}

#navbar {
    height: 60px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #f08484;
    display: grid;
    grid-template-columns: 15vw 65vw 20vw;

}

.grid-item {
    margin: auto;
}

img {
    margin: auto;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    margin-left: 100px;
    color: white;
    text-decoration: none;

}


.menu-item:hover {
    color: red;
    text-decoration: none;
}

.btn-primary-nav {
    background-color: #3399CC;
    color: white;
    font-weight: bold;
}