#body {
    margin: auto;
    margin-top: 30px;
    width: 1000px;
    background-color: white;

}

#title {
    background-color: #f08484;
    color: #e74255;
    width: 1000px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    border-color: #f08484;
}

/* thead {
    background-color: #f08484;
    color: white;
    font-size: 16px;
    border-top: 0px;
}
tr {
    text-align: center;
}
.left {
    border-left: 1px solid white;
}
.right {
    border-right: 1px solid #DBD6D6;
} */
tr {
    text-align: center;
}

td a {
    color: white;
    background-color: #f08484;
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 20px;
    margin-left: 15px;
}

td a:hover {
    text-decoration: none;
    color: white;
}

thead {
    background-color: #f08484;
    color: white;
}

table {
    display: block;
    overflow: auto;
}

tbody {
    display: block;
    max-height: 30vw;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody::-webkit-scrollbar {
    width: 6px;
}

tbody::-webkit-scrollbar-thumb {
    background: var(--gray);
}

.row {
    margin-left: 0;
}